createdAt: "2019-07-28T01:57:33.510Z"
updatedAt: "2019-07-28T01:58:02.712Z"
type: "MARKDOWN_NOTE"
folder: "521524e236bf8f916304"
title: "State"
tags: []
content: '''
  # State
  - Think of state as water, ice and vapor
  - It’s the same object, but has different states depending on conditions
  - Objects in React are the same way. We can change their state depending on how we want to interact with them.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
