createdAt: "2019-07-18T13:14:46.046Z"
updatedAt: "2019-07-18T13:14:54.742Z"
type: "MARKDOWN_NOTE"
folder: "19084091c3fe839cb9cb"
title: "Credentials"
tags: []
content: '''
  ## Credentials
  Password: lauradang0404
'''
linesHighlighted: []
isStarred: false
isTrashed: false
