createdAt: "2019-07-06T03:01:41.494Z"
updatedAt: "2019-08-02T12:46:14.786Z"
type: "MARKDOWN_NOTE"
folder: "47ad8cc93fc6522e71af"
title: "Basic Commands"
tags: []
content: '''
  ### Basic Commands
  
  #### Select all entries
  ```sql
  SELECT * FROM table_name
  ```
  #### Delete tables
  ```sql
  DROP TABLE GovFund;
  DROP TABLE BasicInfo;
  ```
  
  ### Delete entries
  ```sql
  DELETE FROM table_name WHERE condition;
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
