createdAt: "2019-07-22T19:10:12.469Z"
updatedAt: "2019-07-30T20:02:23.346Z"
type: "MARKDOWN_NOTE"
folder: "31497fd6ff3f43e1d9b9"
title: "tv dashboard stuff"
tags: []
content: '''
  #tv dashboard stuff
  
  ```javascript
  <marquee class="scrolling-background" behavior="scroll" direction="left" scrollamount="5">
              <img class="resize" :src="'/static/images/image.png'">
              <img class="resize" :src="'/static/images/Bitmoji 4.png'">
              <img class="resize" :src="'/static/images/File-removebg-preview.png'">
              <img class="resize" :src="'/static/images/62494052_666379020502680_2458005973864808448_n-removebg-preview.png'">
              <img class="resize" :src="'/static/images/tyler.png'">
          </marquee>
  ```
  
  this one goes in Progress.vue
  ```html
  <img class="resize center":src="'/static/images/bmo-sad.gif'">
  ```
  
  ```html
  <img class="resize" :src="'/static/images/grantmatch.png'">
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
