createdAt: "2020-02-06T17:04:28.958Z"
updatedAt: "2020-02-06T17:07:52.523Z"
type: "MARKDOWN_NOTE"
folder: "2ed70fde1277a2b12b07"
title: "Environment Variables"
tags: []
content: '''
  # Environment Variables
  - Global variables in shell
  
  ### `printenv`
  - Shows all environment variables in shel
  
  ### `export VAR_NAME=VAR_VALUE`
  - Add new environment variable
  
  ### `unset VAR_NAME=VAR_VALUE`
  - Remove environment variable
'''
linesHighlighted: []
isStarred: false
isTrashed: false
