createdAt: "2019-08-09T13:45:42.006Z"
updatedAt: "2019-08-09T13:46:08.150Z"
type: "MARKDOWN_NOTE"
folder: "4ae2e7a7a24d8ac3b468"
title: "Filtering Stop Words"
tags: []
content: '''
  # Filtering Stop Words
  ```python
  re.sub(r'(?<!\\S)(?:{})(?!\\S)'.format("|".join(map(re.escape, stop_words))), '', whole_corpus) 
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
