createdAt: "2020-02-10T02:57:15.935Z"
updatedAt: "2020-02-10T02:57:25.670Z"
type: "MARKDOWN_NOTE"
folder: "7f09f784791ea8ae2c2b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
