createdAt: "2019-10-29T15:25:36.996Z"
updatedAt: "2020-01-29T17:36:10.032Z"
type: "MARKDOWN_NOTE"
folder: "437f2cd316585150fcfd"
title: "Lecture 14"
tags: []
content: '''
  # Lecture 14
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
