createdAt: "2019-07-06T03:12:40.499Z"
updatedAt: "2019-07-08T17:35:08.168Z"
type: "MARKDOWN_NOTE"
folder: "5b3648b746c86a3ed243"
title: "Useful Regex Patterns"
tags: []
content: '''
  ### Useful Regex Patterns
  ```python
  # matches any character (except for line terminators)
  .*?
  
  # matches any characters in front of symbol
  \\(symbol)(.*)
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
