createdAt: "2020-02-24T03:36:21.404Z"
updatedAt: "2020-02-24T03:39:46.946Z"
type: "MARKDOWN_NOTE"
folder: "7f09f784791ea8ae2c2b"
title: "Metrics to Evaluate ML Algorithms"
tags: []
content: '''
  # Metrics to Evaluate ML Algorithms
  Refer to [Metrics to Evaluate your Machine Learning Algorithm](https://towardsdatascience.com/metrics-to-evaluate-your-machine-learning-algorithm-f10ba6e38234)
  
  ## Types of Evaluation Metrics
  - Classification Accuracy
  - Logarithmic Loss
  - Confusion Matrix
  - Area under Curve
  - F1 Score
  - Mean Absolute Error
  - Mean Squared Error
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
