createdAt: "2019-07-06T02:49:44.314Z"
updatedAt: "2019-07-06T02:49:51.631Z"
type: "SNIPPET_NOTE"
folder: "31497fd6ff3f43e1d9b9"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: true
