createdAt: "2019-07-09T20:37:39.345Z"
updatedAt: "2019-09-04T12:55:37.328Z"
type: "MARKDOWN_NOTE"
folder: "f25a50634b437a550e14"
title: "BeautifulSoup"
tags: []
content: '''
  # BeautifulSoup
  
  ### Set up
  ```python
  from bs4 import BeautifulSoup
  import requests
  
  source_start = requests.get(url)
  soup = BeautifulSoup(source_start.text, 'lxml')
  ```
  ### Removing style tags
  ```python
  [s.extract() for s in soup('style')]
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
