createdAt: "2020-02-19T02:27:28.932Z"
updatedAt: "2020-02-19T02:29:22.124Z"
type: "MARKDOWN_NOTE"
folder: "f732c9c1ca21c37fdd14"
title: "Web Cache"
tags: []
content: '''
  # Web Cache
  
  When updating an image with Flask, if the image is not updating on the browser, but it is locally, there is likely something wrong with the browser's cache.
  
  **Solution**: 
  1. Inspect browser 
  2. Go to Networks
  3. Disable Cache
  4. Run website (keep the developer console open)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
