createdAt: "2019-07-07T03:35:07.567Z"
updatedAt: "2019-07-07T03:53:41.929Z"
type: "MARKDOWN_NOTE"
folder: "437f2cd316585150fcfd"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
