createdAt: "2019-07-23T15:29:07.466Z"
updatedAt: "2019-07-23T15:31:27.004Z"
type: "MARKDOWN_NOTE"
folder: "31497fd6ff3f43e1d9b9"
title: "Manipulating Models"
tags: []
content: '''
  # Manipulating Models
  
  ### Get model
  ```python
  MyModel = apps.get_moel('app_name', 'MyModel')
  ```
  
  ### Get field values
  ```python
  for model_obj in MyModel.objects.all():
    model_obj.field_name # get value of field name of obj
    Model.objects.get(pk=...)
    
    model_obj_save() # make sure you save after manipulating anything
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
