createdAt: "2020-01-31T15:37:03.882Z"
updatedAt: "2020-01-31T16:43:51.571Z"
type: "MARKDOWN_NOTE"
folder: "945e6a3edd398eb32344"
title: "bot_get_info Pipelines"
tags: []
content: '''
  # `bot_get_info` Pipelines
  
  ## Focusing on Intent
  ```markdown
  
  # custom1.yml
  pipeline:
      - name: "SpacyNLP"
      - name: "SpacyTokenizer"
      - name: "SpacyFeaturizer"
      - name: "SpacyEntityExtractor"
        dimensions: ["DATE"]
      - name: "CRFEntityExtractor"
      - name: "SklearnIntentClassifier"
  
  # custom2.yml
  pipeline:
      - name: "SpacyNLP"
      - name: "SpacyTokenizer"
      - name: "SpacyFeaturizer"
      - name: "SpacyEntityExtractor"
        dimensions: ["DATE"]
      - name: "CRFEntityExtractor"
      - name: "EmbeddingIntentClassifier"
  
  # custom3.yml
  pipeline:
      - name: "SpacyNLP"
      - name: "ConveRTTokenizer"
      - name: "ConveRTFeaturizer"
      - name: "SpacyEntityExtractor"
        dimensions: ["DATE"]
      - name: "CRFEntityExtractor"
      - name: "SklearnIntentClassifier"
  
  # custom4.yml
  pipeline:
      - name: "SpacyNLP"
      - name: "ConveRTTokenizer"
      - name: "ConveRTFeaturizer"
      - name: "SpacyEntityExtractor"
        dimensions: ["DATE"]
      - name: "CRFEntityExtractor"
      - name: "EmbeddingIntentClassifier"
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
