createdAt: "2019-10-18T02:02:16.650Z"
updatedAt: "2019-10-18T02:03:24.913Z"
type: "MARKDOWN_NOTE"
folder: "7539635a810c6ccf5652"
title: "Time Series"
tags: []
content: '''
  # Time Series
  
  ### What is it
  - sequence of observations recorded at regular time intervals
  
  ### Purpose
  - Developing forecast of series
  - analyzing demand, sales, website visitors
'''
linesHighlighted: []
isStarred: false
isTrashed: false
