createdAt: "2020-02-10T21:00:11.347Z"
updatedAt: "2020-02-10T21:00:29.657Z"
type: "MARKDOWN_NOTE"
folder: "6d3bd10e36acaa4abd95"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
