createdAt: "2020-01-29T17:52:58.912Z"
updatedAt: "2020-01-29T17:52:58.912Z"
type: "MARKDOWN_NOTE"
folder: "77ebb855011a338bfaaf"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
