createdAt: "2020-02-10T16:49:04.626Z"
updatedAt: "2020-02-10T16:49:04.626Z"
type: "MARKDOWN_NOTE"
folder: "a0218a47d5544fd3b833"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
