createdAt: "2019-07-26T13:43:07.371Z"
updatedAt: "2019-07-26T13:48:24.639Z"
type: "MARKDOWN_NOTE"
folder: "2fa92d2b903b97ccc967"
title: "Args and Kwargs"
tags: []
content: '''
  # Args and Kwargs
  
  Args returns a tuple while kwargs returns a dict
  ```python
  def hello(*args, **kwargs):
    print(args)
    print(kwargs)
  
  hello("L", greeting="Hi")
  
  >> ("L", )
  >> {'greeting':"Hi"}
  ```
  ```python
  def hello(*args, **kwargs):
      gretting = kwargs.pop('greeting', 'Hello')
      
      print(f"""{gretting} {' '.join(args)}!""")
  
  
  >> hello("Laura", "Dang", gretting="Hi")
  
  # returns `Hi Laura Dang!`.
  
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
