createdAt: "2020-02-10T19:30:49.282Z"
updatedAt: "2020-02-10T19:31:34.914Z"
type: "MARKDOWN_NOTE"
folder: "47ad8cc93fc6522e71af"
title: "MySQL"
tags: []
content: '''
  # MySQL
  
  ### Entering the SQL bash
  ```bash
  mysql -u <username> -p
  >> Type Password
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
