createdAt: "2019-07-06T03:06:50.554Z"
updatedAt: "2019-07-06T03:10:28.731Z"
type: "MARKDOWN_NOTE"
folder: "437f2cd316585150fcfd"
title: "Troubleshooting"
tags: []
content: '''
  ### Troubleshooting
  - Inspect element
  - Query check variable
  ```php
  {{ var_dump ($variable)}}
  ```
  - Print to console
  ```javascript
  echo 
  '<script>
    console.log('.json_encode($path_parts).')
  </script>'
  ```
  #### Defined/Undefined variables
  
  - Look in controller - check variables and parameters
'''
linesHighlighted: []
isStarred: false
isTrashed: false
