createdAt: "2019-07-06T03:05:53.457Z"
updatedAt: "2020-02-06T18:47:12.200Z"
type: "MARKDOWN_NOTE"
folder: "47ad8cc93fc6522e71af"
title: "Foreign Key Commands"
tags: []
content: '''
  # Foreign Key Commands
  
  ### Show foreign key entries
  ```sql
  SELECT * FROM table1 A 
  INNER JOIN table2 B 
  ON A.foreign_key_field = B.foreign_key_field
  WHERE B.some_field = 1
  ```
  ### Get last inserted id for foreign key
  ```SQL
  SELECT LAST_INSERT_ID()
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
