createdAt: "2019-07-06T02:26:23.570Z"
updatedAt: "2019-07-06T02:52:28.099Z"
type: "MARKDOWN_NOTE"
folder: "6d3bd10e36acaa4abd95"
title: "Troubleshooting"
tags: []
content: '''
  ### Troubleshooting
  #### Wrong Branch (make sure you are in develop)
  ```bash
  $ git branch
  ```
  #### Git is not up to date (pull)
  ```bash
  $ git pull
  $ git pull rebase
  ```
  #### Merge Conflict
  - Go to files indicated in red and press accept incoming changes
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
