createdAt: "2019-07-06T20:21:09.981Z"
updatedAt: "2019-07-06T20:29:16.016Z"
type: "MARKDOWN_NOTE"
folder: "7f09f784791ea8ae2c2b"
title: "Introduction"
tags: []
content: '''
  ## Introduction
  #### What is machine learning?
  Making predictions based off of patterns 
  
  #### Fitting/Training a Decision Tree
  1. Break data into groups/factors
  2. Determine predictions for each group
  ##### Training model is the data used to do this
  
  - To consider more factors, the tree can be deeper (more splits)
  ##### Leaf is the point at bottom of tree where one makes the decision
'''
linesHighlighted: []
isStarred: false
isTrashed: false
