createdAt: "2019-07-28T17:34:53.792Z"
updatedAt: "2019-07-28T17:35:24.043Z"
type: "MARKDOWN_NOTE"
folder: "521524e236bf8f916304"
title: "Formatting"
tags: []
content: '''
  # Formatting
  ### Formatting Javascript line breaks
  - use <pre tag in HTML to render the line breaks (\\n, \\t)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
