createdAt: "2020-02-06T17:51:28.892Z"
updatedAt: "2020-02-06T17:51:34.710Z"
type: "MARKDOWN_NOTE"
folder: "47ad8cc93fc6522e71af"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
