createdAt: "2019-07-06T03:13:39.101Z"
updatedAt: "2019-07-10T15:14:05.601Z"
type: "MARKDOWN_NOTE"
folder: "705e9de139f487021fe0"
title: "Setting Up Headless Chrome"
tags: []
content: '''
  ### Setting Up Headless Chrome
  ```python
  from selenium import webdriver
  from selenium.common.exceptions import NoSuchElementException
  
  option_chrome = webdriver.ChromeOptions()
  option_chrome.add_argument('headless')
  option_chrome.add_argument("disable-gpu")
  
  path = "/Users/laura/fippa-cleaning/chromedriver"
  
  driver = webdriver.Chrome(executable_path=path, options=option_chrome)
  driver.get(url)
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
