createdAt: "2020-01-30T20:57:01.832Z"
updatedAt: "2020-01-30T21:06:10.689Z"
type: "MARKDOWN_NOTE"
folder: "945e6a3edd398eb32344"
title: "Optimizing Hyperparameter"
tags: []
content: '''
  # Optimizing Hyperparameter
  **Hyperparameter/Configuration parameters**: Parameter whose value is set before learning process begins
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
