createdAt: "2019-07-06T02:36:04.843Z"
updatedAt: "2019-07-06T02:52:19.821Z"
type: "MARKDOWN_NOTE"
folder: "31497fd6ff3f43e1d9b9"
title: "Activating Grantmatch"
tags: []
content: '''
  ### Activating Grantmatch
  ```bash
  $ workon grantmatch-app
  $ npm run run
  ```
  
  #### When not working, try:
  ```bash
  $ ps
  $ kill -9 (ID Number)
  ```
  
  #### If Grantmatch gets slow, try:
  ```bash
  $ npm run build
  $ python3 manage.py runserver 8080
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
