createdAt: "2019-07-06T02:26:19.518Z"
updatedAt: "2019-07-06T05:01:34.644Z"
type: "MARKDOWN_NOTE"
folder: "437f2cd316585150fcfd"
title: "Adding JS/CSS to FTX templates"
tags: []
content: '''
  ### Adding JS/CSS to FTX templates
  #### 1. Move files to assets
  - Put JS and CSS files into ```resources/assert/(js or css)/vendors```
  
  #### 2. Code
  - For JS: put the require and the code into ```window.onload = function()```
  - For CSS: import the sheets used
  
  #### 3. Compile assets
  - Open Homestead SSH (top left of screen) 
  - Type ```npm run dev``` or ```npm run hot``` (if doesn’t work, do ```npm install```, and try again) 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
