createdAt: "2020-02-09T01:04:04.839Z"
updatedAt: "2020-02-09T01:04:15.008Z"
type: "MARKDOWN_NOTE"
folder: "7f09f784791ea8ae2c2b"
title: "Neural Networks"
tags: []
content: "# Neural Networks"
linesHighlighted: []
isStarred: false
isTrashed: true
