createdAt: "2019-10-10T01:56:57.695Z"
updatedAt: "2019-10-10T01:58:55.258Z"
type: "MARKDOWN_NOTE"
folder: "7539635a810c6ccf5652"
title: "Loss Functions"
tags: []
content: '''
  # Loss Functions
  
  There are two types
  
  ### Regression Losses
  - Mean Square Error
  - Quadratic Loss
  - L2 Loss
  
  ### Classification Losses
  - Hinge Loss/Multi class SVM Loss
  - Cross Entropy Loss/Negative Log Likelihood
'''
linesHighlighted: []
isStarred: false
isTrashed: false
