createdAt: "2019-07-07T04:43:11.049Z"
updatedAt: "2019-07-07T04:46:03.106Z"
type: "MARKDOWN_NOTE"
folder: "26872b0e77e0d363e7b6"
title: "Introduction to Deep Learning"
tags: []
content: '''
  ## Introduction to Deep Learning
  
  #### Black and White images
  - Image is a matrix of numbers
  - Larger number = darker shade of colour
  
  #### Coloured images
  - image is 3 matrices stacked on top of each other (RGB)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
