createdAt: "2019-07-05T23:29:37.114Z"
updatedAt: "2019-07-06T02:26:17.350Z"
type: "SNIPPET_NOTE"
folder: "437f2cd316585150fcfd"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: null
    content: ""
  }
]
isStarred: false
isTrashed: true
