createdAt: "2019-07-17T18:45:22.438Z"
updatedAt: "2019-07-17T19:15:25.436Z"
type: "MARKDOWN_NOTE"
folder: "19084091c3fe839cb9cb"
title: "Jupyter Notify"
tags: []
content: '''
  # Jupyter Notify
  ```python
  import jupyternotify
  ip = get_ipython()
  ip.register_magics(jupyternotify.JupyterNotifyMagics)
  
  %load_ext jupyternotify
  
  %%notify
  import time
  time.sleep(5)
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
