createdAt: "2020-02-05T14:00:46.097Z"
updatedAt: "2020-02-05T14:01:13.243Z"
type: "MARKDOWN_NOTE"
folder: "77ebb855011a338bfaaf"
title: ""
tags: []
content: "# "
linesHighlighted: []
isStarred: false
isTrashed: true
