createdAt: "2019-07-26T13:42:53.712Z"
updatedAt: "2019-07-29T17:26:34.880Z"
type: "MARKDOWN_NOTE"
folder: "31497fd6ff3f43e1d9b9"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
