createdAt: "2019-09-03T13:29:20.109Z"
updatedAt: "2019-09-03T13:29:25.867Z"
type: "MARKDOWN_NOTE"
folder: "3259a9ed3c40bcb28bfa"
title: "FIPPA"
tags: []
content: '''
  # FIPPA
  
  *   program\\_name OR grant\\_id (required)
  *   approved\\_funding\\_amount (required)
  *   company_name (required)
  *   date_approved
  *   project_name
  *   project_description
  *   alternate_name
  *   abbreviation
'''
linesHighlighted: []
isStarred: false
isTrashed: false
