createdAt: "2019-07-28T01:55:35.701Z"
updatedAt: "2019-07-28T01:56:37.481Z"
type: "MARKDOWN_NOTE"
folder: "96d656616328a11edf97"
title: "API"
tags: []
content: '''
  # API
  ### What is an API?
  - set of data (often in JSON)
  - access different endpoints of API to get certain data (we usually don't want all the data)
  - 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
