createdAt: "2019-07-28T01:49:39.103Z"
updatedAt: "2019-07-28T01:57:23.487Z"
type: "MARKDOWN_NOTE"
folder: "521524e236bf8f916304"
title: "Lifecycle Method"
tags: []
content: '''
  # Lifecycle Method
  1. Constructor
  2. componentWillMount
  3. Render
'''
linesHighlighted: []
isStarred: false
isTrashed: false
