createdAt: "2019-09-12T02:29:31.150Z"
updatedAt: "2019-11-30T18:23:39.097Z"
type: "MARKDOWN_NOTE"
folder: "3daccd16afe284a3c637"
title: "Assignment 1"
tags: []
content: '''
  # Assignment 1
  
  ### Q1i
  #### Syntax
  ```bash
  $ awk options 'selection _criteria {action }' input-file > output-file 
  ```
  ```bash
  # Example
  $ awk '{print $1}' < myfile.txt
  ```
  - scans file line by line
  - splits each input line into fields
  - compares input line to pattern
  - performs action on matched lines
  
  ```bash
  \\s*?(unsigned){0,1}\\s*?int\\s*?\\w+\\s*?\\;\\s*\\/{0,3}.*
  ```
  
  ### Q5 
  #### Test Cases:
  1. Has .args, has .out
  3. Has .args, does not have .out
  4. Does not have .args, has .out
  5. Does not have .args and does not have .out
   Questions:
   - cat: test3.out: No such file or directory message is still present
'''
linesHighlighted: []
isStarred: false
isTrashed: true
