createdAt: "2020-02-14T16:53:15.991Z"
updatedAt: "2020-02-14T17:02:34.730Z"
type: "MARKDOWN_NOTE"
folder: "cc29c3443746b67c0dd2"
title: "Classification Task Work"
tags: []
content: '''
  # Classification Task Work
  
  ## Database Schema Possibilities
  
  First way:
  | id | text_item | soapbox_id | model_pkl_file | is_trained |
  |----|-----------|------------|------------|------------|
  |`auto INT`    | `STRING`          | `FOREIGN-KEY INT`           |`STRING`            | `BOOL`           |
  
  Second way:
  | id | text_item | soapbox_id |
  |----|-----------|------------|
  |    |           |            |
  Name the model files based on the `soapbox_id`.
  eg. `model_1.pkl` would correlate to `soapbox_id=1`.
  
  Third way:
  | id | text_item |
  |----|-----------|
  |    |           |
  - id would not be`AUTO-INCREMENTING`, it would just be correlated with the `soapbox_id`
'''
linesHighlighted: []
isStarred: false
isTrashed: false
